<div class="lama">
  <img src="./image/lama.jpg" alt="">
    <p>Le lama blanc ou lama (Lama glama) est un camélidé domestique d'Amérique du Sud.
    Sa longévité est comprise entre 10 et 20 ans. Une étude récente montre que, malgré quelques croisements, le lama, animal domestique, a pour plus proche cousin le guanaco, animal sauvage, alors que l'alpaga, animal domestique, a pour plus proche cousin la vigogne, animal sauvage.
    Le terme « lama » est souvent utilisé de manière plus large pour s'appliquer aux quatre espèces animales proches qui constituent la branche sud-américaine des camélidés : le lama blanc lui-même, l'alpaga, le guanaco et la vigogne (voir pour cela le genre lama).</p>
</div>
