<div class="animal1">
  <div class="autruche">
    <img src="./image/autruche.jpg" alt="">
      <p>Les autruches forment le genre Struthio, de la famille des Struthionidae. Le mot dérive de l'italien ostruce, lui-même issu du latin avis struthio, d'après le grec ancien στρουθίων.
      Au xxie siècle, il ne reste plus dans ce genre que deux espèces vivantes, voire une seule selon que les auteurs considèrent Struthio molybdophanes comme étant une espèce distincte ou une simple sous-espèce de l'Autruche d'Afrique.</p>
  </div>
